// Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT= // Enter your Convex deployment

NEXT_PUBLIC_CONVEX_URL= // Enter your public convex url

NEXT_PUBLIC_GOOGLE_CLIENT_ID= // Enter your public google client id

NEXT_PUBLIC_GEMINI_API_KEY= // Enter your public gemini api key
